<div class="row" id="index_search">
    <form role="search" name="search" action="/search" method="get">
        <table class="table searchTable">
            <tr>
                <td>Eşya Ara:</td>
                <td>Nerede?</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control" name="stuff" placeholder="Ne Arıyorsun?"></td>
                <td>
                    <input type="text" class="form-control" name="address" placeholder="Nerede Arıyorsun?"></td>
                <td>
                    <button type="submit" class="btn btn-default">Ara</button>
                </td>
            </tr>
        </table>
    </form>
</div>
