<div class="col-md-10 col-sm-12 col-md-offset-1" style="margin-top:50px; padding-top: 20px; border-top: 1px solid #dddddd;">
    <div class="col-md-12 text-center">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <h5>BİZ KİMİZ?</h5>
            <ul class="footerUl">
                <a href="/masalgibi">
                    <li>Hikayemiz</li>
                </a>
                <!--<a href="/purpose">
                    <li>Amacımız</li>
                </a>-->
                <a href="/press">
                    <li>Basında Biz</li>
                </a>
                <a href="/contact">
                    <li>İletişim</li>
                </a>
            </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <h5>EŞYA KÜTÜPHANESİ</h5>
            <ul class="footerUl">
                <a href="/sss">
                    <li>Sıkça Sorulan Sorular</li>
                </a>
                <a href="/user_agreement">
                    <li>Kullanıcı Sözleşmesi</li>
                </a>
            </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <h5>SOSYAL MEDYA</h5>
            <ul class="footerUl">
                <a href="http://blog.esyakutuphanesi.com/" target="_blank">
                    <li>Blog</li>
                </a>
                <a href="https://www.facebook.com/EsyaKutuphanesi" target="_blank">
                    <li>Facebook</li>
                </a>
                <a href="https://twitter.com/esyakutuphanesi" target="_blank">
                    <li>Twitter</li>
                </a>
            </ul>
        </div>
    </div>
</div>