<div class="item col-md-4 col-sm-4 col-xs-12">
    <div class="thumbnail">
        <a href="/show_stuff/{{stuff.id}}">
                {% if stuff.photos %}
                    {% for photo in stuff.photos.all %}
                        {% if forloop.first %}
                            <img src="{{ MEDIA_URL }}{{ photo.image }}">
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <img src="{{ MEDIA_URL }}{{ stuff.category.image }}">
                {% endif %}
        </a>
        <div class="caption">
            <a href="/show_stuff/{{stuff.id}}">
                <h3 style="font-size:18px; margin-top:0;">{{ stuff }}</h3>
            </a>
            <p style="overflow: hidden;">{{ stuff.detail|safe|truncatechars:100 }}</p>
            {% comment %}
                <p>
                {% if user.is_authenticated %}
                    {% if stuff.status == 1 %}
                        {% if user == stuff.user %}
                            {% if stuff.approved == 0 %}
                                <p class="alert-danger">Henüz onaylanmadı.</p>
                            {% endif %}
                            <button type="button" style="width:100%;" class="btn btn-warning">Düzenle/Kaldır</button>
                        {% elif stuff.approved == 1 %}
                            {% else %}
                                <button type="button" style="width:100%;" class="btn btn-success">Ödünç iste</button>
                            {% endif %}
                        {% endif %}
                    {% elif stuff.status == 2 %}
                        <button type="button" style="width:100%;" class="btn btn-success disabled">Ödünç verildi</button>
                    {% endif %}
                {% else %}
                    {% if not is_wanted %}
                        <button type="button" style="width:100%;" class="btn btn-success">Ödünç iste</button>
                    {% else %}
                {% endif %}
            </p>
        {% endcomment %}
        </div>
    </div>
</div>